/* .skills{
    height: 50vh;
} */

.skills__container{
    max-width: var(--max-width);
    margin: auto;
    padding: 0 30px;
    margin-bottom: 4rem;
}

.skills__title{
    color: #464646;
    text-align: center;
    font-size: 2rem;
}

.skills__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills__box{
    width: 176px;
    height: 176px;
    background-color: white;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
   
}

.skills__box > ul{
padding-left: 20px;
}